#info{
	top: 1%; 
	right: 5%; 
	width: 12%; 
	font-size: 8vw;
}

#container{
	top: 10%; 
	left: 5%; 
	width: 90%; 
	height: 89%; 
	border-width: 0.3vw;
}

#topScreen{
	top: 4%; 
	left: 4%; 
	width: 91.1%; 
	height: 10%; 
	font-size: 5.5vw;
	padding-top: 2%;
	padding-right: 1%; 
}
 
label{
	left: 4%;
	top: 10.5%;
}

#digitsDiv{
	left: 4%; 
	width: 91.1%; 
	bottom: 4%; 
	height: 47%; 
}

.num0Btn{
	left: 2.5%; 
	bottom: 3%; 
	width: 17.5%; 
	height: 21.2%; 
	font-size: 5vw;
	position: absolute;
}

.pntBtn{
	left: 22%; 
}

.pmBtn{
	left: 41.5%; 
}

.plsBtn{
	left: 61%; 
}

.eqlBtn{
	left: 80.5%; 
	height: 45.7%; 
}

.num1Btn{
	bottom: 27.3%; 
}

.num2Btn{
	left: 22%; 
	bottom: 27.3%; 
}

.num3Btn{
	left: 41.5%; 
	bottom: 27.3%; 
}

.mnsBtn{
	left: 61%; 
	bottom: 27.3%; 
}

.num4Btn{
	bottom: 51.5%; 
}

.num5Btn{
	left: 22%; 
	bottom: 51.5%; 
}

.num6Btn{
	left: 41.5%; 
	bottom: 51.5%; 
}

.mltBtn{
	left: 61%; 
	bottom: 51.5%; 
}

.rnd0Btn{
	left: 80.5%; 
	bottom: 51.5%; 
}

.num7Btn{
	bottom: 75.5%; 
}

.num8Btn{
	left: 22%; 
	bottom: 75.5%; 
}

.num9Btn{
	left: 41.5%; 
	bottom: 75.5%; 
}

.dvdBtn{
	left: 61%; 
	bottom: 75.5%; 
}

.rnd2Btn{
	left: 80.5%; 
	bottom: 75.5%; 
}

#funcDiv{
	left: 4%; 
	width: 91.1%; 
	bottom: 53%; 
	height: 24%; 
	position: absolute;
}

.piBtn{
	left: 2.3%; 
	bottom: 5%; 
	width: 17%; 
	height: 41.2%; 
	font-size: 5vw;
	position: absolute;
}

.sqrtBtn{
	left: 22%; 
}

.sqBtn{
	left: 41.5%; 
}

.pcgBtn{
	left: 61%; 
}

.bsBtn{
	left: 80.5%; 
}

.mcBtn{
	bottom: 52.5%; 
}

.mpBtn{
	left: 22%; 
	bottom: 52.5%; 
}

.mmBtn{
	left: 41.4%; 
	bottom: 52.5%; 
}

.mrBtn{
	left: 61%; 
	bottom: 52.5%; 
}

.acBtn{
	left: 80.5%; 
	bottom: 52.5%; 
}

#tweet{
	right: 1%; 
	bottom: 0%; 
	font-size: 4vw;
}

ul{
	width: 100%;
	margin-top: 2vw;
	margin-left: 0vw;
	padding-left: 0.5vw;
}

li{
	margin-top: 1vw;
	margin-right: 2vw;
	border-width: 0.3vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

span{
	font-size: 3vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

.infoDiv{
	padding: 2vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	border-width: 0.3vw;
}
